html * {
    font-family: 'Caveat', cursive;
}

body {
    background-size: contain;
    background-image: url("/Images/THE\ CATS\ COTTAGE\ PATTERN\ -\ Yellow\ background-01.jpg");
}

#map-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

#map-container h2 {
    margin-right: 5%;
}

#hours {
    display: flex;
    justify-content: center;
    margin-top: 15px;
    margin-bottom: 15px;
    flex-direction: column;
    align-items: center;
}

#hours h2 {
    margin: 0;
}

header {
    display: flex;
    justify-content: center;
}

#image-container{
    display:flex;
    justify-content: center;
}

#logo {
    max-width: 25%;
    height: auto;
    width: auto\9;
}

hr.catline {
    border: 10px solid rgba(168,124,81,255);
    border-radius: 5px;
    max-width: 75%;
    width: auto;
}

#about {
    display: flex;
    justify-content: center;
}

p {
    max-width: 50%;
}

#bottom-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

#bottom-container h1 {
    text-decoration: underline;
}

#menu-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#menu {
    width: 50vw;
    min-width: 30em;
    height: auto;
    border-radius: 30px;
    border: 5px solid rgba(168,124,81,255);
    padding: 10px;
}